.menu-element {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    font-size: 3.5vw;
    font-weight: bold;
    height: inherit;
    margin: 0 0 0 2vw;
    color: black;
    float: left;
}

.header-name {
    color: white;
}

